.placeListItem {
  margin: 0.5rem;
  border: 1px solid var(--white);
  border-radius: 0.5rem;

  padding: 1rem;
}

.placeTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-size: 1.25rem;
  color: var(--gray-600);
}

.placeTitle button {
  background-color: inherit;
  color: var(--white);
}

.placeTitle button:hover {
  background-color: inherit;
  color: var(--gray-600);
}

.profListItem {
  color: var(--secondary-light);
  font-size: 1rem;
  margin-top: 0.5rem;
}
