* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Helvetica", sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica", sans-serif; /* Exemplo de fonte para títulos */
}

h1 {
  font-size: 2.25em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}

:root {
  --primary: #d10c00;
  --primary-light: #FF453A;
  --secondary: #0a84ff;
  --secondary-light: #70b7ff;
  --secondary-dark: #0051A3;
  --dark: #0b141b;
  --white: #ffffff;
  --gray-600: #8e8e93;
  --gray-500: #636366;
  --gray-400: #48484a;
  --gray-300: #3a3a3c;
  --gray-200: #2c2c2e;
  --gray-100: #1c1c1e;
}

body {
  background-color: var(--dark);
  color: var(--white);
}

a {
  color: var(--primary);
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

button {
  border: none;
}
